<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.dao.WuShuDao">

    <!--查询所有武术部信息-->
    <select id="queryAllWuShu" resultType="com.wisdom.dto.WuShuDTO">
        SELECT cd.`cd_id`,c1.`cname`,stu.`sname`,cd.`pay_time`,cd.`class_hour`,
        cd.`price`,cd.`total`,cd.`September`,cd.`October`,cd.`November`,cd.`December`,cd.January,cd.February,
        cd.March,cd.April,cd.May,cd.June,cd.July,cd.August,sum_tj.*
        FROM student stu
        LEFT JOIN cost_details cd ON stu.`sid`=cd.`stu_id`
        LEFT JOIN classes c1 ON c1.`class_id`=cd.`class_id`
        LEFT JOIN course c2 ON c2.`cid`=cd.`course_id`,
        (SELECT SUM(`total`)sum_total FROM `cost_details` WHERE `course_id` IN (9,10,11)) sum_tj
        WHERE c2.`cid` IN(9,10,11) and stu.status=1 and cd.status=1
        order by c1.cname
    </select>
</mapper>